/* CSS for navbar by Christopher Solano */
.info {
    top: 100px;
    height: 400px;
    background-color: #FFBB00;
    border-radius: 24px;
    padding: 3px 20px 10px 20px;
    position: relative;
    flex-basis: 200px;
    margin-right: 100px;
    margin-left: 10px;
   
}

.info p {
    text-align: left;
    font-size: 22px;
    line-height: 1.5;
}
.info p:first-child {
    font-size: 21px;
}