body {
    background-color: grey;
}
.container{
    display: flex;
}

.info {
    top: 100px;
    height: 400px;
    background-color: #FFBB00;
    border-radius: 24px;
    padding: 3px 20px 10px 20px;
    position: relative;
    flex-basis: 200px;
    margin-right: 100px;
   
}

.info p {
    text-align: left;
    font-size: 22px;
    line-height: 1.5;
}
.info p:first-child {
    font-size: 21px;
}

.forumTable table {
    border: 1px solid;
    width: 50%;
    text-align: center;
}

.forumTable th{
    background-color: #FFBB00;
}

.forumTable tr {
    background-color: lightgreen;
    height: 50px;
}

.forumTable h1 {
    margin-left: 50px;
}

.forumTable {
   flex: 1;
   margin-left: 300px;
   justify-content: center;
   align-content: center;
}

.sb {
    margin-top: 50px;
}

#bar {
    width: 70%;
    height: min-content;
    background-color: #FFBB00;
}